<div class="row d-flex" style="height: 98vh; align-items: center; justify-content: center;">
    <div class="col-md-4 col-12">
        <div class="card">
            <div class="card-header">
                <h1>Login Page</h1>
                <p>Fill the all  fields for login</p>
            </div>
            <div class="card-body">
        <div class="formGroup">
            <label for="">Username</label>
            <input [(ngModel)]="model().userName" type="text" class="form-control">
        </div>

        <div class="formGroup mt-1">
        <label for="">Password</label>
        <input  [(ngModel)]="model().password" type="password" class="form-control">
        </div>
        
        <div class="formGroup mt-1">
          <button class="btn btn-primary w-100" (click)="login()">Login</button>
        </div>

        <div class="formGroup mt-1">
            <a routerLink="/register">Don't you have an account? Register For Free</a>
        </div>
            </div>
        </div>
       
        

    </div>
</div>